body {
    background-image: url("../../../GroupProject/images/children-sharing-and-playing-with-toys.jpg");
    background-size: cover;
}

#login__form {
    max-width: 35%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}